/* .qqq button {
   background: linear-gradient(90deg, #E800FF, #00F2EA) !important;
}
.qqq a{
   text-decoration: none;
   color: #E4E6F0;
   background-color: #E800FF;
   padding: 10px;
} */
body {
   background: linear-gradient(to bottom, #1A1A1A, #242424);
}

/* <!----ALL-START----> */
.all-section {
   padding: 70px 0px 0px 0px;

}

.main-heading {
   margin-bottom: 30px;


}

.main-heading h1,
.heading h1 {
   font-size: 60px;
}

@media screen and (max-width: 430px) {

   .main-heading h1,
   .heading h1 {
      font-size: 50px !important;
   }
}

@media screen and (max-width: 380px) {

   .main-heading h1,
   .heading h1 {
      font-size: 45px !important;
   }
}

/* <!----ALL-END----> */
/* <!----NAVBAR-START----> */
.navbar-logo img {
   width: 20%;
}

.navbar-sign-up {
   background: linear-gradient(90deg, #6E49E6 0%, #47B2FE 100%) !important;
   color: #FFFFFF !important;
   /*Whitetextforcontrast*/
   border: none !important;
   /*padding: 15px 30px !important;
    */
   padding-left: 30px !important;
   padding-right: 30px !important;
   border-radius: 30px !important;
   /*Slightlyroundedcorners*/
   font-weight: bold !important;
   cursor: pointer !important;
   transition: all 0.3s ease !important;

   -webkit-transition: all 0.3s ease !important;
   -moz-transition: all 0.3s ease !important;
   -ms-transition: all 0.3s ease !important;
   -o-transition: all 0.3s ease !important;
}

.navbar-sign-up:hover {
   /* You can slightly adjust the gradient or add a subtle shadow on hover */
   background: linear-gradient(90deg, #7A53FF 0%, #5BC0FF 100%) !important;
}

.nav-bg-color {
   background: linear-gradient(90deg, #30283C 0%, #25252F 0%);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);

}

.navbar-text-color a {
   color: #FFFFFF;
   margin-left: 30px;
   font-weight: 600;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}

.navbar-text-color a:hover {
   color: #CCCCCC !important;
}
.nab-bar-social .fa-facebook {
   color: #1877F2;
   ;
}

.nab-bar-social .fa-tiktok {
   color: black;
}

.nab-bar-social .fa-instagram {
   color: #FD1D1D;
}


.navbar-shadow {
   box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
   /* background-color: #3D344B; */
}

.navbarr {
   /* background-color: #3D344B; */
}

/* 
.navbar-logo img {
   height: 70%;
   width: 40%;
} */

.navbarr .row .hh a {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: white;
   font-weight: 600;
}

.row .hh .fa-facebook {
   color: #1877F2;
   ;
}

.row .hh .fa-tiktok {
   color: black;
}

.row .hh .fa-instagram {
   color: #FD1D1D;
}

/* <!----NAVBAR-end----> */



/* <!----home-video-start----> */

.outter.hero-video-main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.hero-video-main {

   .video-container-main {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;

   }

   video {
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;


   }


   .callout-main {

      padding: 150px 0px;
      background: rgba(0, 0, 0, 0.502);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      /* text-align: center; */
      position: relative;
      z-index: 10;
      width: 100%;
      margin: auto;
   }
}









.video-container {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

.home-video {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transform: translate(-50%, -50%);
}

.video-overlay {
   position: absolute;
   top: o;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.502);
   color: rgb(253, 29, 29);
}

.header_text {
   font-size: 40px;
   font-weight: 400;
   line-height: 1.3em;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.sub_heading {
   margin-bottom: 15px;
   margin-top: 15px;
   font-size: 22px;
   font-weight: 300;
   /* text-transform: capitalize; */
   /* line-height: 1.8em; */
   color: #FFFFFF;
}

.con-btn {
   display: flex;
   /* justify-content: space-around; */

}

.con-btn a {
   color: black;
   text-decoration: none;
   font-weight: 500;

   font-size: 15px;
   padding: 15px 30px;

}

.con-btn .whatsapp {
   background: linear-gradient(90deg, #3D344B 0%, #30303D 100%);
   font-weight: 500;
   /*border-style: solid;
 */
   /*border-width: 1px 1px 1px 1px;
 */
   transition: all 0.3s ease;
   border-radius: 13px 13px 13px 13px;
   color: white;

}

.con-btn .whatsapp:hover {
   background: linear-gradient(90deg, #30283C 0%, #25252F 100%);

   /* Add an inset box-shadow */
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),
      /* Dark inner shadow */
      inset 0 0 5px rgba(255, 255, 255, 0.1);

}

.con-btn .call {
   margin-left: 10px;
   background: linear-gradient(90deg, #3D344B 0%, #30303D 100%);
   font-weight: 500;
   /*border-style: solid;
  */
   /*border-width: 1px;
  */
   transition: all 0.3s ease;
   border-radius: 13px 13px 13px 13px;
   color: white;

}

.con-btn .call:hover {
   background: linear-gradient(90deg, #30283C 0%, #25252F 100%);

   /* Add an inset box-shadow */
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),
      /* Dark inner shadow */
      inset 0 0 5px rgba(255, 255, 255, 0.1);
}

/* <!----MEDIA-QUERY-home-video-START----> */
@media screen and (max-width: 430px) {
   .header_text {
      font-size: 32px !important;
   }

   .sub_heading {
      font-size: 18px !important;
   }

   .con-btn a {
      font-size: 13px !important;
      padding: 12px 24px !important;
   }
}

@media screen and (max-width: 380px) {
   .header_text {
      font-size: 28px !important;
   }

   .sub_heading {
      font-size: 16px !important;
   }

   .con-btn a {
      font-size: 13px !important;
      padding: 12px 24px !important;
   }

}

/* <!----MEDIA-QUERY-home-video-end----> */
/* <!----home-video-end----> */

/* <!----SERVICE-START----> */
.Service {
   background: linear-gradient(to bottom, #1A1A1A, #242424);
   border-bottom: 2px solid #1A1A1A;
   color: White;
   padding: 100px 0px;
}

.service-section {
   margin-bottom: 50px;
   padding: 35px 25px !important;
   background: linear-gradient(#30303D) padding-box padding-box,
      linear-gradient(90deg, #30303D 0%, #3D344B 0%) border-box border-box;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),
      inset 0 0 5px rgba(255, 255, 255, 0.1);
   background-color: #303030;
   border-radius: 20px;
   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   border-image: initial;
}

.service-text {

   padding-bottom: 50px;
   font-size: 18px;
   margin-top: 25px;
   letter-spacing: 2px;
   word-spacing: 2px;
   line-height: 1.9em;
}

.service-text h1 {
   margin-bottom: 35px;
}

.card-wrapper {
   /* margin-bottom: 50px; */
   padding-top: 100px;

}


.card-service {
   margin-bottom: 50px;
   padding: 15px 20px;
   background: linear-gradient(#30303D) padding-box padding-box,
      linear-gradient(90deg, #30303D 0%, #3D344B 0%) border-box border-box;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),
      inset 0 0 5px rgba(255, 255, 255, 0.1);
   background-color: #303030;
   border-radius: 20px;
   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   border-image: initial;

}

.card-service-text {
   padding: 100px 0;
}

.outter-service.hero-video-main-service {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hero-video-main-service {

   .video-container-main-service {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;

   }

   video {
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
   }


   .callout-main-service {
      padding: 150px 0px;
      background: rgba(0, 0, 0, 0.502);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      /*text-align: center;
      */
      position: relative;
      z-index: 10;
      width: 100%;
      margin: auto;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
   }
}


/* <!----MEDIA-QUERY-SERVICE-START----> */
@media screen and (max-width: 770px) {
   .service-text {
      order: 1;
   }

   .order-property {
      order: 2;
   }
}

@media screen and (max-width: 430px) {
   .service-text {
      font-size: 16px !important;
   }
}

@media screen and (max-width: 380px) {
   .service-text {
      font-size: 14px !important;
   }
}

/* <!----MEDIA-QUERY-SERVICE-end----> */
/* <!----SERVICE-END----> */






/* <!----about-start----> */
.About {
   background: linear-gradient(to top, #1A1A1A, #242424);
   border-bottom: 2px solid #242424;
   color: White;
   padding: 100px 0px;
}

.about-main-heading h1 {
   font-size: 60px;

}




.about-text-p {


   background: linear-gradient(#30303D) padding-box padding-box,
      linear-gradient(90deg, #30303D 0%, #3D344B 0%) border-box border-box;
   background-color: #303030;

   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   border-image: initial;
   border-radius: 30px;
   padding: 30px 20px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),

      inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.about-text {
   padding: 20px 30px !important;
}

.about-sepration {
   border-right: 2px solid #242424;

}

.about-text p {
   font-size: 18px;
   margin-top: 25px;
   letter-spacing: 2px;
   word-spacing: 2px;
}


.about-img {
   padding-top: 20px;

}

.about-img img {

   height: 100%;
   width: 60%;
   border-radius: 15px;

}

.about-text ul li {
   font-size: 18px;
   margin-top: 25px;
   letter-spacing: 2px;
   word-spacing: 2px;
}

@media screen and (max-width: 430px) {
   .about-text {
      padding: 15px 22px !important;
   }

   .about-text p {
      font-size: 16px !important;
   }

   .about-sepration {
      border-bottom: 2px solid #242424 !important;
      border-right: none !important;
   }

   .padding-query {
      padding-top: 30px !important;
   }
.padding-query-image {
   padding-bottom: 30px !important;
}

.about-text ul li {
   font-size: 16px !important;
}
}



@media screen and (max-width: 380px) {
   .about-text {
      padding: 10px 16px !important;
   }

   .about-text p {
      font-size: 14px !important;
   }

   .about-sepration {
      border-bottom: 2px solid #242424 !important;
      border-right: none !important;
   }

   .padding-query {
      padding-top: 30px !important;
   }
   .padding-query-image {
   padding-bottom: 30px !important;
}

.about-text ul li {
   font-size: 14px !important;
}

}



/* <!----about-end----> */
/* <!----review-start----> */
.Review {
   background: linear-gradient(to bottom, #1A1A1A, #242424);
   border-bottom: 2px solid #1A1A1A;
   color: White;
   padding: 100px 0px;
}

.review-card-main {
   padding: 20px 30px;
}

.owl-nav,
.owl-dots {
   text-align: center;
}

.colored {
   color: #daa520 !important;
}

.review-card-img img {
   border-radius: 50%;
}

.review-card {
   background: linear-gradient(90deg, #3D344B 0%, #30303D 100%) padding-box padding-box,
      linear-gradient(90deg, #30303D 0%, #3D344B 0%) border-box border-box;
   background-color: #303030;

   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   border-image: initial;
   border-radius: 30px;

   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),

      inset 0 0 5px rgba(255, 255, 255, 0.1);
   /* box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff; */
   border-radius: 30px;
   padding: 10px 5px;
}

.owl-nav {
   margin-top: 30px;
}

.owl-prev span,
.owl-next span {
   font-size: 30px;
   /* background-color: red; */
   border-radius: 100px;
   /* padding: 10px; */
   /* margin: 8px; */
   width: 50px;
   height: 50px;
   display: block;
}

.owl-prev,
.owl-next {
   margin: 0px 10px;
   border-radius: 100px;
   background: linear-gradient(90deg, #3D344B 0%, #30303D 100%) !important;
   color: white !important;
   font-weight: 900 !important;
   transition: all 0.3s ease;
}

.owl-prev:hover,
.owl-next:hover {
   background: linear-gradient(90deg, #30283C 0%, #25252F 100%);

   /* Add an inset box-shadow */
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),
      /* Dark inner shadow */
      inset 0 0 5px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 380px) {
   .review-card p {
      font-size: 14px !important;
   }
}

@media screen and (max-width: 330px) {
   .review-card p {
      font-size: 13px !important;
   }

   .review-card h5 {
      font-size: 15px !important;
   }

   .colored {
      font-size: 10px !important;
   }
}

/* <!----review-end----> */
/* <!----CONTACT-start----> */
.Contact-us {
   background: linear-gradient(to top, #1A1A1A, #242424);
   /* border-bottom: 2px solid #242424; */
   color: White;
   padding: 100px 0px;

}

.contact-all {
   background: linear-gradient(#30303D) padding-box padding-box,
      linear-gradient(90deg, #30303D 0%, #3D344B 0%) border-box border-box;
   background-color: #303030;

   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   border-image: initial;
   border-radius: 30px;
   padding: 30px 20px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),

      inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.contact-logo i {
   background: linear-gradient(90deg, #30283C 0%, #25252F 100%);
   padding: 25px;
   border-radius: 100px;
   font-size: 25px;
}

.contact-link-text {

   scrollbar-width: none !important;
}

.contact-link-text a {
   color: white;
   text-decoration: none;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}

.contact-link-text a:hover {
   color: #CCCCCC;
}

.contact-social {
   margin-top: 30px !important;
}

.contact-social a {
   text-decoration: none;
   color: black;
   font-weight: 600;
   font-size: 25px;
}

.contact-social .fa-facebook {
   color: #1877F2;
   /* background-color: #d2dce9; */
   /* padding: 25px; */
   border-radius: 100PX;
}

.contact-social .fa-tiktok {
   color: black;
   /* background-color: #d2dce9; */
   /* padding: 25px; */
   border-radius: 100PX;

}

.contact-social .fa-instagram {
   color: #FD1D1D;
   /* background-color: #d2dce9; */
   /* padding: 25px; */
   border-radius: 100PX;
}

.contact-number {

   border-radius: 30px;
   padding: 30px 30px !important;
}

.contact-map {
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}

.contact-social .col-md-12 {
   display: flex;
   justify-content: space-between;
}

@media screen and (max-width: 770px) {
   .contact-social .col-md-12 {
      display: flex;
      justify-content: space-around !important;
   }

   .pandding-map {
      padding-top: 30px;
   }

}

@media screen and (max-width: 430px) {
   .contact-all {
      padding: 23px 14px !important;
   }

   .contact-number {
      padding: 15px 15px !important;
   }

   .contact-logo i {
      padding: 20px !important;
      font-size: 22px;
   }

}

@media screen and (max-width: 380px) {
   .contact-all {
      padding: 22px 12px !important;
   }

   .contact-number {
      padding: 12px 12px !important;
   }

   .contact-logo i {
      padding: 18px !important;
      font-size: 20px;
   }

   .contact-link-text a {
      font-size: 14px;
   }

}

@media screen and (max-width: 320px) {
   .contact-all {
      padding: 20px 10px !important;
   }

   .contact-number {
      padding: 10px 10px !important;
   }

   .contact-logo i {
      padding: 15px !important;
      font-size: 18px;
   }

   .contact-link-text a {
      font-size: 14px;
   }

}

/* <!----CONTACT-end----> */

/* <!----FOOTER-START----> */
.Footer {
   background: linear-gradient(to bottom, #1A1A1A, #242424);
   border-bottom: 2px solid #1A1A1A;
   color: White;
   padding: 100px 0px;
   border-top: 2px solid #242424;
   border-top-left-radius: 32px;
   border-top-right-radius: 32px;
}

.footer-logo img {
   width: 80%;

}

.footer-social {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 25px;
}

.footer-social .fa-facebook {
   color: #1877F2;
   ;
}

.footer-social .fa-tiktok {
   color: black;
}

.footer-social .fa-instagram {
   color: #FD1D1D;
}

.footer-link {
   display: flex;
   justify-content: space-evenly;
}

.footer-link a {
   color: white;
   text-decoration: none;
   font-weight: 600;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}
.footer-link a:hover{
   color: #CCCCCC;
}

@media screen and (max-width: 430px) {
   .footer-social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px !important;
   }

   .Footer {
      padding: 80px 0px !important;
   }
}


@media screen and (max-width: 380px) {
   .footer-social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px !important;
   }

   .Footer {
      padding: 70px 0px !important;
   }

   .footer-link a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
   }

}

@media screen and (max-width: 355px) {
   .footer-adjust h4 {
      font-size: 19px;
   }
}

@media screen and (max-width: 320px) {
   .footer-adjust h4 {
      font-size: 17px;
   }
}

/* <!----FOOTER-end----> */